body {
    background-color: powderblue;
  }
   
  
  h1 {
    color: blue;
    border:3px solid white;
    margin: 20px;
    padding: 4px;
    font-family: verdana;
    font-size: 200%;
    text-align: center;
  }
  p {
    color:black;
    border: 2px solid powderblue;
    border: 5px solid powderblue;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
  }